{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <link href="{% static 'posts/styles.css' %}" rel="stylesheet">
    <style>
        @keyframes hide {
            0%{
                opacity: 1;
                height: 100%;
                line-height: 100%;
                padding: 20px;
                margin-bottom: 10px;
            }
            75%{
                opacity: 0;
                height: 100%;
                line-height: 100%;
                padding: 20px;
                margin-bottom: 10px;
            }
            100%{
                opacity: 0;
                height: 0px;
                line-height: 0px;
                padding: 0px;
                margin-bottom: 0px;
            }
        }

        .post {
            background-color: #800e82; /* Green color */
            color: white; /* Text color */
            padding: 20px; /* Padding around the text */
            border-radius: 5px; /* Rounded corners */
            width: 200px; /* Width of the box */
            text-align: center; /* Center-align the text */
            margin: 10 auto; /* Center the box horizontally */
            margin-bottom: 10px;
            animation-name: hide;
            animation-duration: 2s;
            animation-fill-mode: forwards;
            animation-play-state: paused;
        }
    </style>
    <script>
        let counter=1;

        //Load posts 20 at a time
        const quantity = 20;

        // When DOM loads, render the first 20 posts
        document.addEventListener('DOMContentLoaded', load);

        window.onscroll = () => {
            if (window.innerHeight + window.scrollY >= document.body.offsetHeight){
                load();
            }
        }

        function load(){
            // set start and end post numbers, and update counter
            console.log("Fetched")
            const start = counter;
            const end = start + quantity - 1;
            counter = end + 1;

            // Get new posts and add posts
            fetch(`/posts?start=${start}&end=${end}`)
            .then(response => response.json())
            .then(data => {
                data.posts.forEach(add_post);
            })
        }

        document.addEventListener('click', event => {
            const element = event.target;
            if(element.className == "hide"){
                element.parentElement.style.animationPlayState = 'running';
                element.parentElement.addEventListener('animationend', ()=>{
                    element.parentElement.remove();
                })
            }
        })

        function add_post(contents){
            const post = document.createElement('div');
            post.className = 'post';
            post.innerHTML = `${contents} <button class=hide>Hide</button>`;

            document.querySelector('#posts').append(post)
        }


    </script>

</head>
<body>
    <div id="posts">
    </div>
    
</body>
</html>