*{
    font-family: Arial, Helvetica, sans-serif;
}
#search_links_container{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
    margin: 10px;
}
.grid_advance{
    display: grid;
    grid-template-rows: repeat(5,30px);
    gap: 10px 10px;
    margin: 25px 35px;
}
@media(min-width:900px){
    #grid_x_col{
        grid-template-columns: 150px 1fr 1fr;
    }
    .explanation_text{
        font-size: 11px;
        align-self: center;
        color: #555;
    }
}

@media(max-width:899px){
    #grid_advance{
        grid-template-columns: 150px 50%;
    }
    .explanation_text{
        display: none;
    }
}
.secondary_text{
    font-size: 13px;
    color: #222;
}
#form_title{
    font-size: 16px;
    font-weight: 500;
    color:#333;
}
#explanation_title{
    font-size: 13px;
    color: #777;
    font-weight: 700;
}
.input_search{
    border: 1px solid #d9d9d9;
    border-radius: 1px;
    padding: 1px 8px;
}
#page_title{
    color: #d93025;
    margin: 25px 35px;
    font-size: 20px;
}
hr.solid {
    border-top: 1px solid lightgray;
}
#advance_button{
    width: 150px;
    justify-self: end;
}


