#search_image, #search_links_container {
  display: flex;
  gap: 10px; }

#search_container, #search_container_images, #grid_advance {
  display: grid;
  gap: 10px; }

#search_image {
  flex-direction: column;
  justify-content: center;
  align-items: center; }

#search_links_container, #search_image {
  justify-content: flex-end;
  align-items: center; }

#search_text, #search_text_images {
  border-radius: 24px;
  width: auto;
  border: 1px solid #dfe1e5;
  max-width: 548px;
  min-width: 548px;
  justify-self: center;
  padding: 10px; }

#search_button, #lucky_button, #search_button_images {
  border-radius: 5px;
  border: 1px solid #f8f9fa;
  padding: 10px; }

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px; }

#search_container {
  grid-template-columns: repeat(6, 1fr); }

#search_text {
  grid-column: 2 / span 4; }

#search_button {
  grid-row: 2;
  grid-column: 3; }

#lucky_button {
  grid-row: 2;
  grid-column: 4; }

#search_button:hover,
#lucky_button:hover,
#search_button_images:hover {
  background-color: #f8f9fa; }

#google_images_search_logo {
  position: relative; }

#images_text_logo {
  position: absolute;
  top: 65%;
  right: 4%;
  color: #4285f4; }

#search_container_images {
  grid-template-columns: repeat(6, 1fr); }

#search_text_images {
  grid-column: 2 / span 4; }

#search_button_images {
  grid-row: 2;
  grid-column: 2 / span 4;
  justify-self: center; }

#google_images_search_logo {
  position: relative; }

#images_text_logo {
  position: absolute;
  top: 70%;
  right: 2%;
  color: #4285f4; }

#grid_advance {
  grid-template-rows: repeat(5, 30px);
  margin: 25px 35px; }

@media (min-width: 900px) {
  #grid_advance {
    grid-template-columns: 150px 1fr 1fr; }

  .explanation_text {
    font-size: 11px;
    align-self: center;
    color: #555; } }
@media (max-width: 899px) {
  #grid_advance {
    grid-template-columns: 150px 50%; }

  .explanation_text {
    display: none; } }
.secondary_text {
  font-size: 13px;
  color: #222; }

#advance_form_title {
  font-size: 16px;
  font-weight: 500;
  color: #333; }

#advance_explanation_title {
  font-size: 13px;
  color: #777;
  font-weight: 700; }

.advance_input_search {
  border: 1px solid #d9d9d9;
  border-radius: 1px;
  padding: 1px 8px; }

#advance_page_title {
  color: #d93025;
  margin: 25px 35px;
  font-size: 20px; }

hr.solid {
  border-top: 1px solid lightgray; }

#advance_button {
  width: 150px;
  justify-self: end; }

/*# sourceMappingURL=basic_styles.css.map */
