$color_white_input:  #dfe1e5;
$color_white_button: #f8f9fa;
$color_blue_letter: #4285f4;
$color_red_title: #d93025;

$font_size_extra_small: 11px;
$font_size_small: 13px;
$font_size_medium: 16px;
$font_size_larger: 20px;

%flex_display{
    display: flex;
    gap: 10px;
}

%grid_display{
    display: grid;
    gap: 10px;
}

%center_item_flex_display{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

%end_item_flex_display{
    justify-content: flex-end;
    align-items: center;
}

%input_search{
    border-radius: 24px;
    width: auto;
    border: 1px solid $color_white_input;
    max-width: 548px;
    min-width: 548px;
    justify-self: center;
    padding: 10px;
}

%button_search{
    border-radius: 5px;
    border: 1px solid $color_white_button;
    padding: 10px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}


#search_image{
    @extend %flex_display;
    @extend %center_item_flex_display;

}

#search_links_container{
    @extend %flex_display;
    @extend %end_item_flex_display;
}

#search_container{
    @extend %grid_display;
    grid-template-columns: repeat(6,1fr);
}

#search_text{
    @extend %input_search;
    grid-column: 2 / span 4;
}

#search_button{
    grid-row: 2;
    grid-column: 3;
    @extend %button_search;
}

#lucky_button{
    grid-row: 2;
    grid-column: 4;
    @extend %button_search;
}

#search_button:hover,
#lucky_button:hover,
#search_button_images:hover {
  background-color: $color_white_button;
}

#search_image{
    @extend %flex_display;
    @extend %end_item_flex_display;
}

#search_image{
    @extend %flex_display;
    @extend %center_item_flex_display;
}

#google_images_search_logo{
    position: relative;
}

#images_text_logo{
    position: absolute;
    top:65%;
    right: 4%;
    color: $color_blue_letter;
}

#search_container_images{
    @extend %grid_display;
    grid-template-columns: repeat(6,1fr);
}

#search_text_images{
    @extend %input_search;
    grid-column: 2 / span 4;
}

#search_button_images{
    grid-row: 2;
    grid-column: 2 / span 4;
    @extend %button_search;
    justify-self: center;
}

#google_images_search_logo{
    position: relative;
}

#images_text_logo{
    position: absolute;
    top: 70%;
    right: 2%;
    color: $color_blue_letter;
}

#grid_advance{
    @extend %grid_display;
    grid-template-rows: repeat(5,30px);
    margin: 25px 35px;
}

@media(min-width:900px){
    #grid_advance{
        grid-template-columns: 150px 1fr 1fr;
    }
    .explanation_text{
        font-size: $font_size_extra_small;
        align-self: center;
        color: #555;
    }
}

@media(max-width:899px){
    #grid_advance{
        grid-template-columns: 150px 50%;
    }
    .explanation_text{
        display: none;
    }
}

.secondary_text{
    font-size: $font_size_small;
    color: #222;
}

#advance_form_title{
    font-size: $font_size_medium;
    font-weight: 500;
    color:#333;
}
#advance_explanation_title{
    font-size: $font_size_small;
    color: #777;
    font-weight: 700;
}

.advance_input_search{
    border: 1px solid #d9d9d9;
    border-radius: 1px;
    padding: 1px 8px;
}
#advance_page_title{
    color: $color_red_title;
    margin: 25px 35px;
    font-size: $font_size_larger;
}
hr.solid {
    border-top: 1px solid lightgray;
}
#advance_button{
    width: 150px;
    justify-self: end;
}