*{
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
}
.container_flex{
    display: flex;
    gap: 10px;
}
#search_image{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#search_links_container{
    justify-content: flex-end;
    align-items: center;
}
.container_grid{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 10px;

}
#search_text{
    grid-column: 2 / span 4;
    border-radius: 24px;
    width: auto;
    border: 1px solid #dfe1e5;
    max-width: 548px;
    min-width: 548px;
    justify-self: center;

}
#search_button{
    grid-row: 2;
    grid-column: 2 / span 4;
    justify-self: center;
}
.search_button{
    border-radius: 5px;
    border: 1px solid #f8f9fa;
}

#search_button:hover{
  background-color: #f8f9fa;
}


.image_container{
    position: relative;
}
.text_overlay{
    position: absolute;
    top:65%;
    right: 4%;
    color: #4285f4;
}