/*In scss you can nestle elements styles 

In this example the div will have font-size 18px and all 

p (paragraph) and unordered list (ul) inside the div will have

the style indicated

If the p or ul is outside of a div, the style is not applied

*/

div{
    font-size: 18px;
    
    p{
        color:blue;
    }

    ul{
        color:green;
    }
}