/* Inheritance

We can create common attributes that then will be used by other elements by using the % symbol

and then "extend" for the elements to reuse that style

*/
.sucess, .warning, .error {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid black;
  padding: 20px;
  margin: 20px; }

.sucess {
  background-color: green; }

.warning {
  background-color: orange; }

.error {
  background-color: red; }

/*# sourceMappingURL=03_inheritance.css.map */
