/* Inheritance

We can create common attributes that then will be used by other elements by using the % symbol

and then "extend" for the elements to reuse that style

*/

%message{
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
}

.sucess{
    @extend %message;
    background-color: green;
}


.warning{
    @extend %message;
    background-color: orange;
}


.error{
    @extend %message;
    background-color: red;
}