{% extends "flights/layout.html" %}

{% block body %}
    <h1>Flight {{ flight.id }}</h1>
    <ul>
        <li>Destination {{ flight.id }}</li>
        <li>Origin: {{flight.origin}}</li>
        <li>Destination: {{ flight.destination }}</li>
    </ul>

    <h2>Passengers</h2>

    <ul>
        {% for passenger in passengers %}
            <li>{{ passenger }}</li>
        {% empty %}
            <li>No passengers.</li>
        {% endfor %}
    </ul>
    <!--When the form is executed it send a post request to the url named book and flight.id as argument
            path("<int:flight_id>/book", views.book, name="book")

        A select with name 'passenger' is created and in the view is obtained by: request.POST["passenger"]
        In this select list we will put all non passengers, this information is sent by the flight view
    -->
    <form action="{% url 'book' flight.id %}" method="post">
        {% csrf_token %}
        <select name="passenger">
            {% for passenger in non_passengers %}
                <option value="{{ passenger.id }}">{{ passenger }}</option>
            {% endfor %}
        </select>
        <input type="submit">
    </form>

    <a href="{% url 'index' %}">Back to Flight List</a>
{% endblock %}