{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Mail{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'mail/styles.css' %}">
    {% block script %}
    {% endblock %}
</head>
<body>
<div class="container">
    {% block body %}
    {% endblock %}
</div>
</body>
</html>