.post {
    background-color: #800e82; /* Green color */
    color: white; /* Text color */
    padding: 20px; /* Padding around the text */
    border-radius: 5px; /* Rounded corners */
    width: 200px; /* Width of the box */
    text-align: center; /* Center-align the text */
    margin: 0 auto; /* Center the box horizontally */
}