{% extends "auctions/layout.html" %}

{% block body %}

<div class="d-flex flex-column">
    <h2 class="p-2">{{ auction.title }}</h2>
    <div class="p-2">
        <img alt="Bootstrap Image Preview" src="{{ auction.picture }}" class="img-fluid"
             style="max-width: 50%; height: auto;"/>
    </div>
    {% if in_watchlist %}
    <a class="p-0" href="{% url 'auctions:add_watchlist' auction.id %}">Remove from watchlist</a>
    {% else %}
    <a class="p-0" href="{% url 'auctions:add_watchlist' auction.id %}">Add to watchlist</a>
    {% endif %}
    <div class="p-2">{{ auction.description }}</div>
    <div class="p-2" style="font-size: 2rem">${{ actual_bid.price }}</div>

    {% if auction.active %}
    <div class="p-2" style="font-size: 0.8rem">
        {% if auction.user == user and actual_bid.user == user%}
        There are not active bids
        {% elif auction.user == user%}
        {{n_bids}} bid(s) so far. {{actual_bid.user}} is winning
        {% elif actual_bid.user == user %}
        {{n_bids}} bid(s) so far. Your bid is the current bid
        {% else %}
        {{n_bids}} bid(s) so far. Auction in progress, place your bid to win.
        {% endif %}
    </div>
    {% endif %}

    <!--Bid form-->
    {% if auction.active %}
        {% if auction.user != user %}
        <form action="{% url 'auctions:auction' auction.id %}" method="post">
            {% csrf_token %}
            <div class="form-group d-flex flex-row m-1 align-items-center">
                <label class="col-form-label m-2">{{ bid_form.bid.label }}</label>
                <div class="m-2">{{ bid_form.bid }}</div>
                <input class="btn btn-primary m-2" type="submit" name="bid_form" value="Place bid">
            </div>
            <div>{{ bid_form.bid.errors }}</div>
        </form>
        {% else %}
        <form action="{% url 'auctions:auction' auction.id %}" method="post">
            {% csrf_token %}
            <div class="form-group d-flex flex-row m-1 align-items-center">
                <input class="btn btn-primary m-2" type="submit" value="Close" name="close_form">
            </div>
        </form>
        {% endif %}
    {% else %}
        {% if auction.user == user and actual_bid.user == user%}
        <p class="p-3 mb-2 w-25 rounded bg-info text-white">Auction closed without bids</p>
        {% elif auction.user == user %}
        <p class="p-3 mb-2 w-25 rounded bg-success text-white">Auction closed. {{ actual_bid.user }} is the winner!</p>
        {% elif actual_bid.user == user %}
        <p class="p-3 mb-2 w-25 rounded bg-success text-white">Auction closed.You are the winner!</p>
        {% else %}
        <p class="p-3 mb-2 w-25 rounded bg-info text-white">Auction closed.Good luck for next time!</p>
        {% endif %}
    {% endif %}

    <!--Comments form-->
    <form action="{% url 'auctions:auction' auction.id %}" method="post">
        {% csrf_token %}
        {{ comment_form.non_field_errors }}
        <div class="form-group row">
            <h2 class="col-sm-1">{{ comment_form.text.label }}</h2>

        </div>
        <div class="form-group row">
            <div class="col-sm-8">
                {{ comment_form.text }}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2 offset-sm-7">
                <input class="btn btn-primary" type="submit" name="comment_form">
            </div>
        </div>
        <div class="form-group row">
            {{ comment_form.text.errors }}
        </div>
    </form>
    <div class="form-group row">
        {% for comment in comments %}
        <div class="col-sm-8">
            <div class="card mb-1">
                <div class="card-body">
                    <div class="d-flex justify-content-start mb-1">
                        <h6 class="fw-bold text-primary mb-1">{{ comment.user }}</h6>
                        <p class="text-muted small mb-0 ml-1"> {{ comment.date }}</p>
                    </div>
                    <p class="mt-1 mb-1 pb-1"> {{ comment.text }} </p>
                </div>
            </div>
        </div>
        {% empty %}
        {% endfor %}
    </div>
</div>


{% endblock %}