{% extends "auctions/layout.html" %}

{% block body %}
<ul>
    {% for category in categories %}
    <li><a href="{% url 'auctions:category' category.id %}">{{ category.name }}</a></li>
    {% endfor %}
</ul>

{% endblock %}