{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Create Auction</h2>
    <form action="{% url 'auctions:create' %}" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">{{ field.label }}</label>
            <div class="col-sm-5">
                {{ field }}
            </div>
            <div class="col-sm-2">
                {{ field.errors }}
            </div>
        </div>
        {% endfor %}

        <input type="submit">
    </form>
{% endblock %}