{% extends "auctions/layout.html" %}
{% block body %}
{% if category %}
<h2>{{category}} Active Listings</h2>
{% else %}
<h2>Active Listings</h2>
{% endif %}
<div class="container">
    <div class="row">
        {% for auction in auctions %}

        <div class="col-md-4 p-3 ">
            <div class="card">
                <img src="{{ auction.picture }}" class="card-img-top p-3" style="width: 200px; height: 200px;" alt="Auction Image">
                <div class="card-body">
                    <a href="{% url 'auctions:auction' auction.id%}">
                        <h5 class="card-title">{{ auction.title }}</h5>
                    </a>
                    <p class="card-text">{{ auction.description }}</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Price: ${{ auction.actual_bid.price }}</small>
                </div>
            </div>
        </div>
        {% empty %}
        No auctions.
        {% endfor %}

    </div>
</div>
{% endblock %}