{% extends "auctions/layout.html" %}
{% block body %}
<h2>Watchlist</h2>
<ul>
    {% for auction in watchlist %}

    <div class="container-fluid">
        <div class="row mb-4">
            <div class="col-md-2">
                <img alt="Bootstrap Image Preview" src="{{ auction.picture }}" class="img-fluid"/>
            </div>
            <div class="col-md-10">
                <a href="{% url 'auctions:auction' auction.id%}">
                    <h3 class="text-left">{{ auction.title }}
                    </h3>
                </a>
                <p> {{ auction.description }}</p>
                <ul>
                    <li>
                        Initial Bid: {{ auction.starting_bid }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% empty %}
    No auctions.
    {% endfor %}
</ul>
{% endblock %}