textarea {
    min-height: 400px;
}

.email-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid black;
    margin-bottom: -1px;
    color: black;
    background-color: white;
}

.email-item.read {
    background-color: gray;
}

.text-wrap-custom
{
    white-space:pre-wrap;
}
.email-user {
    font-weight: bold;
    flex-grow: 0.15;
}
.email-subject {
    flex-grow: 1;
}

.email-timestamp {
    margin-left: auto;
}