{% extends "flights/layout.html" %}

{% block body %}
    <h1>Flight {{flight.id}}</h1>
    <ul>
        <li>Destination: {{ flight.destination }}</li>
        <li>Origin: {{flight.origin}}</li>
        <li>Duration: {{ flight.duration }}</li>
    </ul>

    <h2>Passengers</h2>
    <ul>
        {% for passenger in passengers %}
            <li>{{ passenger.first }}</li>
        {% empty %}
            <li>No passengers.</li>
        {% endfor %}
    </ul>

    <form action="{% url 'book' flight.id %}" method="post">
        {% csrf_token %}
        <select name="passenger">
            {% for passenger in non_passangers %}
                <option value= "{{ passenger.id }}"> {{ passenger }} </option>
            {% endfor %}
        </select>
        <input type="submit">
    </form>

    <a href="{% url 'index'  %}">Back to flight lists</a>
{% endblock %}
