<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flights</title>
</head>
<body>
    {% extends "flights/layout.html" %}

    {% block body %}
        <h1>Flights</h1>
        <ul>
            {% for flight in flights %}
            <li>
                <a href="{% url 'flight' flight.id %}">
                Flight {{ flight.id }}: {{ flight.origin }} to {{ flight.destination }}
                </a>
            </li>
            {% endfor %}
        </ul>
    {% endblock %}
</body>
</html>