{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ entry_name }}
{% endblock %}

{% block body %}
    {% if entry_html %}
        {{ entry_html|safe|escape }}
        <a href="{% url 'encyclopedia:edit_page' entry_name%}">edit</a>
    {% else %}
        <h1>The page {{ entry_name }} was not found</h1>
    {% endif %}
{% endblock %}