{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>Create New Page</h1>

    <div class="col-md-8">
    <form action="{% url 'encyclopedia:new_page' %}" method="post">
        {% csrf_token %}
        {{ form }}

        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="Submit">
        </div>
    </form>
    </div>

{% endblock %}